@model List<MatesCarSite.Models.Debt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @ColumnNamesForDebts.IdLoanHolder
            </th>
            <th>
                @ColumnNamesForDebts.Route
            </th>
            <th>
                @ColumnNamesForDebts.LoanValue
            </th>
            <th>
                @ColumnNamesForDebts.IsFullyPaid
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.LoanDebtorRef.UserFirstName @item.LoanDebtorRef.UserSurname - @item.LoanDebtorRef.UserName
            </td>
            <td>
                @item.RouteRef.StartLocation - @item.RouteRef.EndLocation
            </td>
            <td>
                @item.Value
            </td>
            <td >
                <input type="checkbox" value="@item.IsPaid" />
            </td>



            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-controller="Route" asp-route-routeId="@item.RouteRef.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
