@model List<Route>
@using MatesCarSite.Resources
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-warning">Nowa trasa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @ColumnNamesForRoutes.Driver
            </th>
            <th>
                @ColumnNamesForRoutes.StartLocation
            </th>
            <th>
                @ColumnNamesForRoutes.EndLocation
            </th>
            <th>
                @ColumnNamesForRoutes.FuelUsage
            </th>
            <th>
                @ColumnNamesForRoutes.ChargeForPassenger
            </th>
            <th>
                @ColumnNamesForRoutes.RouteDateTime
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Driver
            </td>
            <td>
                @item.StartLocation
            </td>
            <td>
                @item.EndLocation
            </td>
            <td>
                @item.FuelUsage
            </td>
            <td>
                @item.ChargeForPassenger
            </td>
            <td>
                @item.RouteDateTime.ToShortDateString()
            </td>
            <td>
                <a asp-action="Details" asp-route-routeId="@item.Id" class="btn btn-primary">@MatesCarSite.Resources.Buttons.Details</a>
                <a asp-action="Edit" asp-route-routeId="@item.Id" class="btn btn-warning">@MatesCarSite.Resources.Buttons.Edit</a>
                <a asp-action="Delete" asp-route-routeId="@item.Id" class="btn btn-danger">@MatesCarSite.Resources.Buttons.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
